* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  /* position: relative; */
  overflow: hidden;
  /* padding-bottom: 80px; */
  background-color: #051e39;
  background: url(/assets/img/background-01.jpg);
  /* background: linear-gradient(#051e39,#88233a); */
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}


#top {
  width: 100%;

  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}

.mySlides {
  transition: all 0.3 ease;
}

#top .appName {
  text-shadow: #030303 4px 4px 4px;
  text-align: center;
  font: 700 50px/1 UtmAvo, sans-serif;
  color: #ffd212;
  margin: 70px 0 18px;
  text-transform: uppercase;


}


/* #top .awardName{
  text-shadow: #030303 4px 4px 4px;
  text-align: center;
  font: 700 70px/1 UtmAvo,sans-serif;
  color: #ffd212;
  margin: 40px 0 18px;
  text-transform: uppercase;


}


#top .topImg{
    max-height: 200px;
    height: 120px;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
} */

.imgAgribank {
  width: 350px;
  /* height: 300vh; */
  position: absolute;
  top: 5px;
  left: 10px;

}

/* #mid .name{
    height: 120px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    font-size: 26px;
    color: inherit;
} */


#mid .spinBoxOutSide {
  background: rgba(174, 28, 63, 1);
  padding: 11px;
  border: 3px solid #f5db79;
  border-radius: 15px;
  display: inline-block;
  top: -3px;
  /* margin-top: 5%; */
  margin-bottom: 20px;
  max-width: 100%;
}

#mid .spinBoxInSide {
  padding: 0 4px;
  overflow: hidden;
  border-radius: 10px;
  background: #2a254f;
  padding: 0 7px;
  border: 1px solid #1e1948;


}

#mid .slots {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background: #2a254f;
  padding: 11px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin-bottom: 0;
  list-style: none outside none;

}

#mid .slot {
  width: 230px;
  height: 300px;
  display: inline-block;
  margin: 7px 11px;
  background: rgba(174, 28, 63, 1);
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  outline: 0;
  box-sizing: border-box;
  white-space: nowrap;

}

#mid .imgSlot {
  width: 35%;
  height: auto;
  text-align: center;
  opacity: .5;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease;
}


#bot {
  margin-bottom: 30px;
}

#bot .buttonReset {
  background: #fbce3d url(/assets/img/btn-yellow-bg.jpg) no-repeat top;
  background-size: cover;
  margin: 0 8px;
  color: #6a4c08;
  box-shadow: inset 0 -5px #fef269;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0;
  -webkit-appearance: none;
  min-width: 180px;
  transition: all .3s;
  height: 50px;
  line-height: 50px;
  appearance: none;
  display: none;
}

#bot .buttonSpin {
  background: #fbce3d url(/assets/img/btn-yellow-bg.jpg) no-repeat top;
  background-size: cover;
  margin: 0 8px;
  color: #6a4c08;
  box-shadow: inset 0 -5px #fef269;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0;
  -webkit-appearance: none;
  min-width: 180px;
  transition: all .3s;
  height: 50px;
  line-height: 50px;
  appearance: none;
}


#bot .buttonStop {
  background: #fbce3d url(/assets/img/btn-yellow-bg.jpg) no-repeat top;
  background-size: cover;
  margin: 0 8px;
  color: #6a4c08;
  box-shadow: inset 0 -5px #fef269;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0;
  -webkit-appearance: none;
  min-width: 180px;
  transition: all .3s;
  height: 50px;
  line-height: 50px;
  appearance: none;
}

.botButton:hover {
  transform: scale(1.1);
}

#bot #Final {
  display: none;
}



/* Slideshow container */

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  /* animation-duration: 1.5s; */
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 100%) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}





/* modal */
/* The Modal (background) */
.myBtn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fbce3d;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  align-items: center;
  height: 18%;
  position: relative;
  top: 40%;
  border-radius: 15px;
  border: none;

}

.modalInput {
  position: absolute;
  top: 27px;
  text-align: center;
  font-weight: 700;
  color: #051e39;
  border-radius: 10px;
  height: 35px;
  width: 40%;
  background-color: rgb(152, 183, 240);
  font-size: 25px;
}

.modalSubmit {
  background-color: #0259a0;
  color: white;
  height: 40px;
  width: 20%;
  align-items: center;
  position: absolute;
  top: 90px;
  border-radius: 10px;
  border: none;
}

.modalSubmit:hover {
  background-color: cornflowerblue;
  color: #022038;
  font-weight: 700;
}

/* The Close Button */
.close {
  color: #c00000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 2px;
}

.close:hover,
.close:focus {
  color: #940000;
  text-decoration: none;
  cursor: pointer;

}

/* scroll number */

.slot h3 {
  margin: 0;
  position: relative;
  display: flex;
  align-items: baseline;
  font-size: 180px;
  color: white;
}

.number {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 270px;
  transition: width 1.8s ease;
}




h3+span {
  display: block;
  width: 100%;
  text-align: right;
}


.number>span.visible {
  /* position: static; */
  width: 100%;
  opacity: 1;
  flex-shrink: 1;
}



.number>span {
  display: flex;
  text-align: center;
  flex-direction: column;
  opacity: 0;
  flex-shrink: 2;
  flex-basis: 180px;
  width: 1px;

  position: absolute;
  right: 0;

  line-height: 270px;
  transition: all 2s ease;
}


.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(180deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(180deg, transparent, white 20%, white 80%, transparent);
}


/* award number  */

#award {
  display: flex;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* padding-bottom: 30px; */
}

.numberAward {
  text-shadow: #030303 4px 4px 4px;
  text-align: center;
  font: 700 25px/1 UtmAvo, sans-serif;
  color: white;
  margin: 3px;
  text-transform: uppercase;
  border: 2px solid #f5db79;
  border-radius: 10px;
  padding: 3px;
}


/* animation */
/* scroll animation */
.scroller[data-animated="true"] .scroller__inner {
  filter: blur(5px);
  animation: scroll 1.5s var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="reverse"] {
  --_animation-direction: reverse;
}

@keyframes scroll {
  to {
    transform: translateY(-100%);
  }
}


/* animation spin box */
/* 
.slideInLeft {
  animation-name: slideInLeft;
}

.slideInRight {
  animation-name: slideInRight;
} */

.prize-prev {
  animation-name: bounceInLeft;
  animation-duration: 2s;
}

.prize-next {
  animation-name: bounceInRight;
  animation-duration: 2s;
}

/* @keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
} */

@keyframes bounceInLeft {

  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes bounceInRight {

  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animate__flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}


@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1
  }

  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg)
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px)
  }
}

/* reponsive  */
/* @media screen and (max-width: 992px) {} */


@media screen and (max-width: 992px) {
  #wrapper {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    /* position: relative; */
    overflow: hidden;
    /* padding-bottom: 80px; */
    background-color: #051e39;
    background: url(/assets/img/background-01.jpg);
    /* background: linear-gradient(#051e39,#88233a); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .imgAgribank {
    width: 160px;
    /* height: 300vh; */
    position: absolute;
    top: 5px;
    left: 10px;
  }

  #top .appName {
    text-shadow: #030303 4px 4px 4px;
    text-align: center;
    font: 700 30px/1 UtmAvo, sans-serif;
    color: #ffd212;
    margin: 60px 0 8px;
    text-transform: uppercase;
  }

  .w3-content {
    max-width: 576px;
  }

  .mySlides {
    width: 80% !important;
    margin: auto;
  }

  #mid .slot {
    width: 150px;
    height: 220px;
    display: inline-block;
    margin: 2px 5px;
    background: rgba(174, 28, 63, 1);
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    outline: 0;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .number>span {
    display: flex;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    flex-shrink: 2;
    flex-basis: 180px;
    width: 1px;
    position: absolute;
    right: 0;
    line-height: 190px;
    transition: all 2s ease;
  }

  .slot h3 {
    margin: 0;
    position: relative;
    display: flex;
    align-items: baseline;
    font-size: 150px;
    color: white;
  }

  .modal-content {
    background-color: #fbce3d;
    margin: auto;
    padding: 2px;
    border: 1px solid #888;
    width: 50%;
    align-items: center;
    height: 20%;
    position: relative;
    top: 40%;
    border-radius: 15px;
    border: none;
  }

  .modalSubmit {
    background-color: #0259a0;
    color: white;
    height: 40px;
    width: 30%;
    align-items: center;
    position: absolute;
    top: 90px;
    border-radius: 10px;
    border: none;
  }
}

@media screen and (max-width: 576px) {
  #wrapper {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    /* position: relative; */
    overflow: hidden;
    /* padding-bottom: 80px; */
    background-color: #051e39;
    background: url(/assets/img/background-01.jpg);
    /* background: linear-gradient(#051e39,#88233a); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .imgAgribank {
    width: 110px;
    /* height: 300vh; */
    position: absolute;
    top: 5px;
    left: 10px;
  }

  #top .appName {
    text-shadow: #030303 4px 4px 4px;
    text-align: center;
    font: 700 25px/1 UtmAvo, sans-serif;
    color: #ffd212;
    margin: 55px 0 3px;
    text-transform: uppercase;
  }

  .w3-content {
    max-width: 576px;
  }

  .mySlides {
    width: 100% !important;
  }

  #mid .slot {
    width: 100px;
    height: 170px;
    display: inline-block;
    margin: 2px 5px;
    background: rgba(174, 28, 63, 1);
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    outline: 0;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .number>span {
    display: flex;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    flex-shrink: 2;
    flex-basis: 180px;
    width: 1px;
    position: absolute;
    right: 0;
    line-height: 155px;
    transition: all 2s ease;
  }

  .slot h3 {
    margin: 0;
    position: relative;
    display: flex;
    align-items: baseline;
    font-size: 130px;
    color: white;
  }

  #bot .buttonSpin {
    background: #fbce3d url(/assets/img/btn-yellow-bg.jpg) no-repeat top;
    background-size: cover;
    margin: 0 8px;
    color: #6a4c08;
    box-shadow: inset 0 -5px #fef269;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
    -webkit-appearance: none;
    min-width: 180px;
    transition: all .3s;
    height: 50px;
    line-height: 50px;
    appearance: none;
  }

  #bot .buttonStop {
    background: #fbce3d url(/assets/img/btn-yellow-bg.jpg) no-repeat top;
    background-size: cover;
    margin: 0 8px;
    color: #6a4c08;
    box-shadow: inset 0 -5px #fef269;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
    -webkit-appearance: none;
    min-width: 180px;
    transition: all .3s;
    height: 50px;
    line-height: 50px;
    appearance: none;
  }

  .numberAward {
    text-shadow: #030303 4px 4px 4px;
    text-align: center;
    font: 700 20px/1 UtmAvo, sans-serif;
    color: white;
    margin: 3px;
    text-transform: uppercase;
    border: 2px solid #f5db79;
    border-radius: 10px;
    padding: 5px;
  }

  .modal-content {
    background-color: #fbce3d;
    margin: auto;
    padding: 2px;
    border: 1px solid #888;
    width: 80%;
    align-items: center;
    height: 20%;
    position: relative;
    top: 40%;
    border-radius: 15px;
    border: none;
  }

  .modalSubmit {
    background-color: #0259a0;
    color: white;
    height: 40px;
    width: 30%;
    align-items: center;
    position: absolute;
    top: 90px;
    border-radius: 10px;
    border: none;
  }
}